* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 4500px;
}

.header {
    position: fixed;
    background-color: #036;
    width: 100%;
    height: 50px;
    padding-right: 25px;
    margin-right: 25px;
    z-index: 1000;
    ;
}

.homeicon {
    color: #fff;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 25px;
    margin-left: 30px;
    margin-right: 25px;
}

.homeicon:hover {
    color: #ccc;
    cursor: pointer;
}

[type=text] {
    position: absolute;
    width: 240px;
    height: 30px;
    background-color: #fafafc;
    border-radius: 20px;
    margin-top: 10px;
    border: 0;
}

.searchicon {
    position: absolute;
    font-size: 15px;
    margin-left: 20px;
    top: 18px;
}

.headlinks {
    list-style: none;
    float: right;
}

.headlinks li {
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;
}

.headlinks li a {
    position: relative;
    color: #fff;
    padding-bottom: 8px;
    text-decoration: none;
}

.headlinks li a::before {
    content: "";
    position: absolute;
    background-color: #00f;
    height: 3px;
    width: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.headlinks li a:hover::before {
    width: 100%;
    opacity: 1;
    transition: .3s;
}

.container {
    position: relative;
}

.div1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../image/q.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .68);
}

.maintext {
    width: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title2 {
    font-size: 65px;
    text-transform: uppercase;
}

.paragraph1 {
    color: #b3b1b1;
    font-size: 18px;
    padding: 12px 0;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: capitalize;
}

.btn1,
.btn2 {
    font-size: 18px;
    display: inline-block;
    text-transform: capitalize;
    outline: 0;
    border: 0;
    background: radial-gradient(100% 100% at 100% 0, #89e5ff 0, #5468ff 100%);
    box-shadow: 0 .01em .01em rgb(45 35 66 / 40%), 0 .3em .7em -.01em rgb(45 35 66 / 30%), inset 0 -.01em 0 rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: .3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow .15s ease, transform .15s ease;
}

.btn1:hover,
.btn2:hover {
    box-shadow: 0 .1em .2em rgb(45 35 66 / 40%), 0 .4em .7em -.1em rgb(45 35 66 / 30%), inset 0 -.1em 0 #3c4fe0;
    transform: translateY(-.1em);
}

.btn1:active,
.btn2:active {
    box-shadow: inset 0 .1em .6em #3c4fe0;
    transform: translateY(0);
}

.btn2 {
    color: #fff;
    background-color: #036;
    margin-left: 10px;
}

.h2 {
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    text-transform: capitalize;
}

.hr {
    width: 90px;
    border: 2px solid #2828e6;
    margin: auto;
    margin-top: 10px;
}

.sec1 {
    overflow: auto;
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
}

.sec1div1 {
    float: left;
    width: 320px;
    height: 220px;
    margin-top: 80px;
    margin-left: 80px;
    text-align: center;
    border: 1px solid #646bce;
    position: relative;
    border-radius: 30px;
    background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, .05) 0, rgba(27, 27, 27, .05) 50%, rgba(126, 126, 126, .05) 50%, rgba(126, 126, 126, .05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, .05) 0, rgba(248, 248, 248, .05) 50%, rgba(26, 26, 26, .05) 50%, rgba(26, 26, 26, .05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, .05) 0, rgba(160, 160, 160, .05) 50%, rgba(212, 212, 212, .05) 50%, rgba(212, 212, 212, .05) 100%), linear-gradient(90deg, #234aff, #84a1ad);
}

.iconsec1 {
    font-size: 30px;
    color: #e2e2f9;
    padding-top: 20px;
    transition: .5s linear;
}

.sec1link {
    text-decoration: none;
    display: block;
    color: #1313ff;
}

.sec1h2,
.sec1link,
.sec1p2 {
    padding-top: 22px;
    transition: .5s linear;
}

.sec1div1:hover .sec1link {
    color: #2008fb;
}

.sec1div1:hover .iconsec1 {
    color: #3427aa;
}

.sec1div1:hover .sec1h2 {
    color: #fff;
}

.sec1p2 {
    color: #ccc;
}

.sec1div1:hover .sec1p2 {
    color: #000;
}

/* sec1 //////////////////////////////////////////////////////////////////////////////////////////////*/
.featured {
    width: 100%;
    background-color: rgb(232, 234, 248);
    height: 110vh;
    overflow: auto;
}

.featureddiv1 {
    float: left;
    margin-left: 150px;
    margin-top: 50px;
    position: relative;
}

.featuredlayer1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: normal;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.featureddiv1:hover .featuredlayer1 {
    visibility: visible;
    opacity: 1;
}

.featuredicon2 {
    background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;
    border-radius: 6px;
}

.featuredicon3 {
    background-color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    color: rgb(131, 131, 133);
    font-size: 20px;

    border-radius: 6px;
}

.featuredicons a {
    display: inline-block;
    position: relative;
    top: 50px;
}

.h3category {
    color: rgb(181, 181, 184);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
}

.featuredspan {
    position: relative;
    top: 20px;
}

/* ////////////////////// */
.featureddiv2 {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    position: relative;
}

.featuredlayer2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: normal;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;

}

.featureddiv2:hover .featuredlayer2 {
    visibility: visible;
    opacity: 1;
}

/* ////////////////// */
.featureddiv3 {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    position: relative;
}

.featuredlayer3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.featureddiv3:hover .featuredlayer3 {
    visibility: visible;
    opacity: 1;
}

/* //////////////////////////////// */
.featureddiv4 {
    float: left;
    margin-left: 150px;
    margin-top: 30px;
    position: relative;
}

.featuredlayer4 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.featureddiv4:hover .featuredlayer4 {
    visibility: visible;
    opacity: 1;
}

/* /////////////////// */
.featureddiv5 {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

.featuredlayer5 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;

}

.featureddiv5:hover .featuredlayer5 {
    visibility: visible;
    opacity: 1;
}

/* //////////////////////// */
.featureddiv6 {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

.featuredlayer6 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.featureddiv6:hover .featuredlayer6 {
    visibility: visible;
    opacity: 1;
}

/* featured */
.center {
    background-image: linear-gradient(37deg, #20dae9, #5c50ea);
    height: 105vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2h2 {
    text-align: center;
    font-size: 48px;
    text-transform: capitalize;
}

.sec2 {
    width: 80%;
    margin: auto;
}

.offeritem {
    width: 315px;
    height: 215px;
    border: 1px solid #151516;
    padding: 25px 15px 30px 50px;
    border-radius: 30px;
    background-color: #fff;
}

.offerdiv {
    float: left;
    width: 30%;
    margin: 2% 0;
    position: relative;
}

.item2 {
    margin: 2% 5%;
}

p {
    color: #05045b;
    padding-top: 7px;
}

.a {
    position: absolute;
    left: 10px;
    top: 25px;
    font-size: 30px;
    color: #000;
}

/* sec2 */

.sec3 {
    width: 80%;
    margin: auto;
}

.parentsec3 {
    height: 100vh;
    overflow: auto;
    padding-top: 50px;
    margin-top: 80px;
}

.divchooseus1,
.divchooseus2 {
    float: left;
    width: 50%;
}

.divchooseus2 {
    padding-left: 150px;
}

.sec3title {
    padding-top: 40px;
}

.iconinfo {
    color: #6c6cd6;
    padding-top: 20px;
}

.sec3h2 {
    text-transform: capitalize;
    font-size: 40px;
}

.sec3hr {
    width: 70px;
    border: 2px solid #6c6cd6;
    margin-top: 10px;
}

.sec3p {
    color: #b2b2b4;
    padding-top: 40px;
}

.sec3listul {
    list-style: none;
    padding-top: 25px;
}

.sec3listul li {
    margin-bottom: 15px;
    color: #918e8e;
}

.sec3bullet {
    text-align: center;
    list-style: none;
}

.sec3bullet li.active {
    background-color: #1b1bd4;
}

.sec3bullet li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #aeaeaf;
}

.sec3bullet li:hover {
    background-color: #1b1bd4;
}

.sec4parent {
    width: 100%;
    height: 400px;
    background-image: url(https://youssif8me.github.io/First-project/image/m.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.sec4container {
    width: 80%;
    margin: auto;
}

.sec4items {
    padding-top: 150px;
    overflow: auto;
}

.sec4item {
    float: left;
    text-align: center;
    width: 25%;
}

.sec4-item-icon {
    color: #989ef0;
    margin-bottom: 15px;
    font-size: 40px;
}

.sec4-item-text,
.sec4-item-title {
    color: #fff;
}

.sec5 {
    padding-top: 120px;
    text-align: center;
}

.sec5-container {
    width: 80%;
    margin: auto;
}

.sec5-divs {
    overflow: auto;
    padding: 50px;
}

.pricimg-div1 {
    width: 30%;
    border: 1px solid #8787e6;
    padding: 30px 15px;
    float: left;
    text-align: center;
    border-radius: 30px;
    position: relative;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17, .04) 0, rgba(17, 17, 17, .04) 50%, rgba(197, 197, 197, .04) 50%, rgba(197, 197, 197, .04) 100%), radial-gradient(circle at 26% 17%, rgba(64, 64, 64, .04) 0, rgba(64, 64, 64, .04) 50%, rgba(244, 244, 244, .04) 50%, rgba(244, 244, 244, .04) 100%), radial-gradient(circle at 44% 60%, rgba(177, 177, 177, .04) 0, rgba(177, 177, 177, .04) 50%, rgba(187, 187, 187, .04) 50%, rgba(187, 187, 187, .04) 100%), linear-gradient(19deg, #1c75fa, #22029f);
}

.sec5-title {
    font-size: 40px;
    text-transform: capitalize;
}

.div-pric2 {
    margin: 0 5%;
}

.pricimg-div1-p {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}

.sec5-div1-month {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #13131f;
    margin: 20px auto;
    padding: 12px 0;
    background-color: #fff;
}

.h3-dollar {
    font-size: 40px;
    margin-top: 10px;
}

.sec5-btn,
.sec5-ul {
    list-style: none;
    text-transform: capitalize;
}

.sec5-ul li {
    padding: 10px 0;
}

.sec5-btn {
    color: #000;
    padding: .9rem 1.8rem;
    font-size: 16px;
    display: inline-block;
    border: 3px solid #5a36eb;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
}

.sec6 {
    width: 100%;
    height: 400px;
    background-image: url(https://youssif8me.github.io/First-project/image/k.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 130px;
}

.sec6overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.sec6container {
    width: 80%;
    margin: auto;
}

.sec6content {
    margin: auto;
    width: 90%;
    height: 100%;
    overflow: auto;
}

.sec6item1 {
    width: 50%;
    height: 100%;
    float: left;
}

.sec6item1-info {
    text-transform: capitalize;
    padding: 130px 40px 10px 150px;
    position: relative;
    line-height: 1.4;
}

.sec6item1-info img {
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 120px;
}

.sec6p {
    margin: 0 30px 0 50px;
    line-height: 1.4;
    text-transform: capitalize;
    color: #fff;
}

.sec6item1-info h3 {
    font-size: 32px;
    color: #fff;
}

.sec6item1-info span {
    color: #1815d1;
    font-size: 24px;
}

.sec7title {
    padding-top: 120px;
}

.sec7title h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

.sec7container {
    width: 80%;
    margin: auto;
}

.sec7parent {
    overflow: auto;
    height: 100vh;
    margin-top: 50px;
}

.card {
    position: relative;
    width: 220px;
    height: 320px;
    background-image: radial-gradient(circle at 79% 30%, rgba(230, 230, 230, .04) 0, rgba(230, 230, 230, .04) 50%, rgba(12, 12, 12, .04) 50%, rgba(12, 12, 12, .04) 100%), radial-gradient(circle at 53% 89%, rgba(210, 210, 210, .04) 0, rgba(210, 210, 210, .04) 50%, rgba(24, 24, 24, .04) 50%, rgba(24, 24, 24, .04) 100%), radial-gradient(circle at 92% 89%, rgba(17, 17, 17, .04) 0, rgba(17, 17, 17, .04) 50%, rgba(205, 205, 205, .04) 50%, rgba(205, 205, 205, .04) 100%), radial-gradient(circle at 21% 13%, rgba(124, 124, 124, .04) 0, rgba(124, 124, 124, .04) 50%, rgba(243, 243, 243, .04) 50%, rgba(243, 243, 243, .04) 100%), radial-gradient(circle at 77% 0, rgba(16, 16, 16, .04) 0, rgba(16, 16, 16, .04) 50%, rgba(130, 130, 130, .04) 50%, rgba(130, 130, 130, .04) 100%), linear-gradient(270deg, #2008fb, #1313ff);
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}

.card::after,
.card::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #219cb8;
    transition: all .5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all .5s;
}

.num1 {
    float: inline-start;
}

.num2 {
    float: inline-start;
    margin-left: 175px;
}

.num3 {
    float: inline-end;
}

.num1:hover:after {
    content: "Ui/UX Designer";
}

.num2:hover:after {
    content: "Full stuck";
}

.num3:hover:after {
    content: "Marketing";
}

.card img {
    width: 80%;
    border-radius: 50%;
    margin-left: 20px;
}

.sec7info-title {
    text-transform: capitalize;
    color: #ccc;
    padding: 12px 0;
    text-align: center;
    margin-top: -20px;
}

.sec7info-p {
    text-transform: uppercase;
    color: #fff;
    margin-top: -15px;
    text-align: center;
}

.sec8title {
    margin-top: -190px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
}

.sec8container {
    width: 80%;
    margin: auto;
}

.sec8parent {
    height: auto;
    margin-top: 50px;
    overflow: auto;
    height: 550px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    perspective: 1000px;
    font-family: sans-serif;
    float: left;
    margin-left: 30px;
}

.text {
    font-size: 48px;
    color: #fff;
}

.text1 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: #ccc;
}

.text2,
.text3 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #ccc;
}

.text3 {
    margin-bottom: 30px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
    transform-style: preserve-3d;
    animation: flip 10s ease-in-out infinite;
}

.flip-card-back,
.flip-card-front {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, #2538de, #0e0588);
}

.flip-card-back {
    background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, .05) 0, hsla(190, 0%, 93%, .05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, #2538de, #60bdf4);
    color: #fff;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
}

.footer {
    width: 100%;
    background-color: #1877f2;
    padding: 20px 0;
    margin-top: 100px;
    margin-bottom: 0;
}

.content-footer {
    margin: auto;
    height: 300px;
    width: 40%;
    text-align: center;
}

.img-footer,
.img-footer img {
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img-footer {
    height: 30%;
}

.ul-footer {
    margin-top: 130px;
}

.ul-footer p {
    font-size: 13px;
    text-transform: uppercase;
    color: #c6c6c6;
    padding-top: 10px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    width: 100%;
    font-family: Poppins, sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    margin-bottom: 10px;
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover .tooltip,
.wrapper .icon:hover span {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
}

@keyframes flip {
    0% {
        transform: rotateY(0)
    }

    50% {
        transform: rotateY(180deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}
